.main-resources-wrapper
{
    background-color: #eee;
    padding-top: 20px;
    min-height: 500px;
}
.resource-document{
    margin: 5px;
    border: 1px solid #ddd;
    padding: 14px;
    background-color: #fff;
}
.upload-date{
    margin-top: 20px;
}
.download-btn img{
    width: 20px;
    float: right;
    position: relative;
    bottom: 40px;
}