@import 'colors';

html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    ;
}

// navbar
.navbar-custom {
    background-color: $light;
    height: 80px;
    margin-bottom: 0;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: $primary;
}

.button-theme-inverse>li>a:focus,
.button-theme-inverse>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.514);
}

.side-nav-custom {
    background-color: $dark;
    border-color: transparent;
    color: $primary;
}

.navbar-brand-img {
    height: 48px;
}

.navbar-transparent {
    background-color: transparent;
}

.navbar {
    a {
        color: $dark;
        font-weight: 600;
        font-size: 16px;
    }
}

.navbar-collapse {
    padding-top: 15px;
}

.action-btn {
    background-color: $primary;
    border: none;
    height: 34px;
    width: 128px;
    padding-top: 11px;
    padding-bottom: 8px;
    color: white;
    border-radius: 5px;
    font-size: 9px;
    letter-spacing: 2px;
}

.drawer-btn {
    float: right;
    margin-top: 20px;
}

.icon-bar {
    background-color: white;
}

.action-btn-inverse {
    @extend .action-btn;
    background-color: white;
    color: $primary;
}

// footer 

.footer-block {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 40px 0 40px 0;
    line-height: 60px;
    background-color: $dark;

    a,
    p {
        color: $footerText;
    }

}

.contacts-list-item {
    list-style: none;
    height: 30px;
    color: $footerText;
}

.contact-list-group {
    margin-top: -15px;
}

.footer-header {
    font-weight: 600;
}

.social-list-group {
    margin-top: -15px;

    li {
        display: unset;
        list-style: none;
        font-size: 18px;

        &:not(:first-child) {
            margin-left: 10px;
        }

        &:hover {
            a {
                color: $primary;
            }
        }
    }

}

// Header and Footer on mobile devices
@media screen and (max-width: 768px) {
    .footer-block {
        height: auto;
        text-align: center;
    }

}

// main content

.canvas {
    padding-top: 0;
}

.main-block {
    height: 90vh;
    background-image: url("../images/bg/bg.jpg");
    background-size: cover;
    background-position: center center;
}

.main-block .main-wrapper {
    background: rgba(95, 96, 97, 0.4) url("../images/bg/bg_line.png") repeat top left;
    height: 100%;
}

.hero-wrapper {
    text-align: center;

    h2 {
        color: white;
        font-size: 1.8em;
    }
}

.safiri-subheader {
    color: $primary;
    font-weight: 400;
    font-size: 1.4em;
}

// commitment block

.commitment-block {
    background: rgba(50, 50, 51, 0.4);
    min-height: 15px;
    margin-top: -97px;
}

.commitment-wrapper {
    float: right;
    text-align: center;
}

.big-action-btn-wrapper {
    padding-top: 20px;
}

.big-action-btn {
    @extend .action-btn;
    padding-top: 20px;
    height: 50px;
    width: 200px;
}

.bright-header {
    color: $light;
}

.dark-header {
    color: $gray;
    margin-bottom: 20px;
}

.black-header {
    color: $dark;
}

.safiri-text {
    color: $primary;
}

// about block

.about-block {
    text-align: center;
    height: auto;
    background-color: white;
    padding-bottom: 90px;
}

.about-wrapper {
    h4 {
        margin-top: 45px;
        color: $gray;
        font-weight: 400;
    }
}

// stats bloc
.stats-block {
    height: auto;
    background-image: url('../images/bg/stats.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $gray;
}

.stats-block-wrapper {
    padding-bottom: 90px;
}

.stats-block .stats-block-wrapper {
    background: rgba(95, 96, 97, 0.4) url("../images/bg/bg_line.png") repeat top left;
    height: 100%;
}

.center-header {
    text-align: center;
    margin-top: 70px;
    font-weight: 800;
    margin-bottom: 40px;
}

.center-takwimu-header {
    @extend .center-header;
    margin-bottom: 0;
    color: White;
}

.center-subheader {
    text-align: center;
    font-weight: 400;
}

.stats-wrapper {
    text-align: center;
    color: white;
    margin-top: 3 0px;
}

.stats-number {
    font-size: 72px;
    font-weight: 300;
}

// event section

.event-block {
    height: 500px;
    border-bottom: 1px solid $dividerColor;
    padding-bottom: 90px;
    background-color: white;
}

// event component
.event-item-wrapper {
    border: 1px solid rgba(95, 96, 97, 0.185);
    border-radius: 4px;
}

.event-item-content {
    text-align: justify;
    color: $gray;
}

.event-item-image {
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;

}

.event-item-body {
    padding: 5px 15px 5px 15px;
    height: 215px;
    overflow: hidden;
}

.event-item-author {
    color: $gray;
}

.event-block {
    height: auto;
    border-bottom: 1px solid $dividerColor;
}

.event-list-item {
    border-bottom: 1px solid $dividerColor;
}

.event-row-wrapper {
    margin-bottom: 60px;
}

// news section
.news-block {
    height: auto;
    padding-bottom: 90px;
    border-bottom: 1px solid $dividerColor;
    background-color: white;
}

.news-list-date {
    text-align: center;
}

.date {
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: 0;
}

.month {
    font-weight: 200;
    text-transform: uppercase !important;
    font-size: 17px;
}

.news-list-title {
    text-align: left;
    font-weight: bolder;
    font-size: 26pt;
}

.news-author {
    font-weight: 200;
    font-size: 12pt;
    color: #b7b6b6;
}

.main-title {
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-item-link {
    color: $dark;

    &:hover {
        text-decoration: none;
        color: $primary;
    }
}

.news-list-item {
    border-bottom: 1px solid $dividerColor;
    margin-bottom: 50px;

}


// social media
.social-block {
    background-color: white;
    padding-bottom: 90px;
}

.social-icon {
    text-align: center;
    font-size: 56px;

    a {
        color: $primary;
    }
}

// video background



//on mobile phones

@media screen and (max-width: 768px) {
    .commitment-wrapper {
        float: none;
        text-align: center;
    }

    .big-action-btn-wrapper {
        text-align: center;
        padding: 0 0 10px 0;
    }

    .event-card {
        margin-bottom: 40px;
    }

    .event-block {
        padding-bottom: 10px;
    }

    .commitment-block {
        background-color: $dark;
    }

    .center-header {
        margin-top: 40px;
    }
}

.navbar-safiri {
    background-color: $primary;

}


//   stats page

.stats-main-block {
    height: 250px;
    background-color: $primary;
}

.center-page-header {
    color: white;
    text-align: center;
    margin-top: 40px;
}

.bar-chart-block {
    height: auto;
    padding-top: 40px;
    padding-bottom: 80px;
    border-bottom: 1px solid #dedede;
}

.bar-chart-container {
    float: none;
    margin: 0 auto;

}

.circle-graph {
    float: none;
    margin: 0 auto;

    span:hover {
        color: $primary;
    }
}

.percentage-row {
    margin-top: 30px
}

.percentage-chart-block {
    padding-bottom: 70px;
}

.center-header-percentage {
    @extend .center-header;
    margin-top: 25px;
}

// Pie chart color
.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
    position: absolute;
    border: 0.08em solid #d92146;
}


.navbar-safiri>.nav>li>a:focus,
.navbar-safiri>.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.circle-graph-wrapper {
    h4 {
        text-align: center;
        margin-top: 25px;
    }
}

// event-section
.event-intro-block {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.safiri-event-content-block {
    margin-top: 30px;
    margin-bottom: 100px;
}

.event-name-col {
    padding: 0 90px 0 90px;
}

.event-name-wrapper {
    border-bottom: 1px solid #ececec;
}

.safiri-event-content-block {
    margin-top: 30px;
    margin-bottom: 100px;
}

.fee-row {
    margin-top: 30px;
    padding: 0 90px 0 90px;
}

.fee-wrapper {
    border-top: 1px solid #ececec;
    padding-top: 10px
}

.desc-row {
    @extend .fee-row;
    margin-top: 10px;
}

.desc-wrapper {
    border-bottom: 4px solid #ececee;
}

.desc-header-wrapper {
    padding-top: 10px;
}

.bolded-header {
    font-weight: 600;
}

.right-align {
    text-align: right;
}

.desc-content-row {
    @extend .desc-row;
}

.desc-content-wrapper {
    @extend .fee-wrapper;
}

.events-row-wrapper {
    @extend .fee-row;
}

.event-bar-date {
    background-color: $primary;
}

.event-bar {
    height: 200px;
}

.events-wrapper {
    margin-top: 60px;
    padding: 0 90px 0 90px;
}

.event-bar-image {
    background-size: cover;
    background-position: center center;

    .event-image-title {
        color: $light;
        font-weight: 600;
    }
}

.event-bar-time,
.event-bar-location {
    border: 1px solid #e9e8e8;
}

.event-bar-date {
    color: white;
}

.event-date-header {
    margin: 20px 0 20px 0;
}

.event-light-headers {
    font-weight: 300;
}

// event responsivenes fix
@media screen and (max-width: 480px) {
    .center-takwimu-header {
        margin-top: 10px;
    }

    .events-row-wrapper {
        padding: 0 20px 0 20px;
    }

    .events-block {
        height: auto;
    }

    .event-bar-date {
        padding-top: 5px;
    }

    .events-wrapper {
        padding: 0 15px 0 15px;
    }

    .fee-row {
        padding: 0 15px 0 15px;
    }

    .event-name-wrapper {
        text-align: center;
    }
}

// chart canvas in stats page

.bar-chart-container {
    position: relative;
    height: auto;
    width: 60vw;
}


.asasi-intro-block {
    padding-top: 60px;
}

.asasi-logo-wrapper {
    padding-top: 30px;

    img {
        height: 70px;
    }
}

.svg-wrapper {
    svg {
        height: 18px;
    }
}

.asasi-website-link {
    margin-left: 15px;

    a {
        font-size: 18px;
        color: $dark;

        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }

    border-bottom:1px solid $primary;
}

.asas-description {
    margin-bottom: 18px;
}

.asasi-main-description {
    margin-bottom: 25px;
}

.asasi-about-wrapper {
    text-align: center;
}

.asasi-list-block {
    margin-bottom: 40px;
}

.asasi-header-text {
    font-weight: bold;
}

.asasi-main-text {
    font-size: 18px;
    padding: 0 20% 0 20%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.asasi-video-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pendekezo-thumbnail {
    margin-bottom: 60px;
    text-align: center;
    font-weight: bold;

    &:hover {
        color: $primary;
    }

    img {
        transition: transform .2s;

        &:hover {
            transform: scale(1.07);
        }

    }
}

.sheria-main-block {
    margin-top: 75px;
    margin-bottom: 30px;
}

.carousel-block {
    margin: 20px 0px 20px 0px;
}

.carousel-control {
    background-image: none !important;

    .glyphicon {
        color: $dark;
    }
}

.carousel-indicators .active {
    background-color: $primary !important;
    border: none !important;
}

.caro-image {
    max-height: 400px;
}

.mapendekezo-title {
    text-align: center;
}

.opening-title {
    background-color: #232323;
    padding: 30px;
    margin-top: 10vh;
    -webkit-box-shadow: 10px 10px 96px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 96px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 96px -12px rgba(0, 0, 0, 0.75);
}

.video-list-title {
    text-align: left;
    font-weight: normal;
    font-size: 11pt;
}

.video-thumbnail {
    margin-bottom: 40px;
    text-align: left;
}

.video-thumbnail a {
    text-decoration: none;
}

.video-thumbnail span {
    margin-bottom: 60px;
    color: #9c9696;
}

.all-videos-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.specific-video-wrapper iframe {
    height: 100%;
    width: 100%;

}

.iframe-wrapper {
    height: 400px;
}

.specific-video-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.specific-video-description {
    text-align: justify;
}

.main-specific-video-wrapper {
    padding: 20px;

}

.left-video-wrapper {
    font-weight: normal;
    font-size: 11pt;
}

.left-single-video-wrapper {
    margin-bottom: 6px;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}

.left-single-video-wrapper a {
    text-decoration: none;
    color: #292425;
}

// updates 2020
.inverted{
    .container{
        .navbar-brand{
            img{
            filter: invert(1);
            }
        }
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .justify-content-center {
        display: flex;
        justify-content: center;
    }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .justify-content-center {
        display: flex;
        justify-content: center;
    }
}

.navbar-safiri{
    .container{
        .navbar-collapse{
            .navbar-right{
                li{
                    a:hover{
                        color:white;

                    }
                }
            }
        }
    }
}

.see-more-wrapper{
    width:100%;
    text-align:center;
    padding-top:40px;
}

.see-more-btn{
    width:250px;
    background-color:$primary;
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:bold;
}